@font-face {
    font-family: 'Harmonia_black';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_semibold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_bold';
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_italic';
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/*STYLE RESET START*/
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    color: #495662;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
label{
    margin: 0;
}
input, button, select{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
}
/*STYLE RESET END*/

/*DEFAULT CLASS START*/
.flex-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.justify-sb{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.align-center{
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.white-bg{
    background-color: #fff;
}
.icon {
    display: inline-block;
}
.orange-text{
    color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.dark-blue-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
.btn{
    width: 100px;
    height: 50px;
    font-size: 14px;
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
}
.btn-default{
    background-color: #ff5912;
    color: #fff;
}
.text-14{
    font-size: 14px;
    font-family: Harmonia_regular;
}
/*DEFAULT CLASSES END*/

/*DEFAULT COMPONENT START*/
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
    color: #34404b;
}
.title.big{
    font-size: 52px;
}
.default-section{
    padding: 60px 0;
}
/*header start*/
.header .top-header {
    padding: 40px 0;
    border-bottom: 2px solid #edeff1;
    font-family: 'HarmoniaSansProCyr-Regular';
    font-size: 12px;
    color: #34404b;
}
.header .top-header .contact-list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.top-header .contact-list li + li{
    padding-left: 10px;
}
.top-header .contact-list icon-mail-ic li{
    padding-right: 16px;
}
.top-header .social a:hover{
    color: #ff5912;
}
.top-header .social a + a{
    padding-left: 24px;
}
@media (max-width: 479px) {
    header .top-header .flex-container{
         display: block;
     }
    .top-header ul{
        padding-bottom: 20px;
    }
}
.header .bottom-header{
    padding: 40px 0;
    font-size: 16px;
}

.header .bottom-header .user-controls{
    margin-left: auto;
}
.header .bottom-header .logo{
    padding-right: 86px;
}
.header .bottom-header .user-controls a + a {
    padding-left: 34px;
}
.header .bottom-header .header-nav a + a {
    padding-left: 40px;
}
.bottom-header .header-nav a:hover{
    color: #ff5912;
}
.header .bottom-header .user-controls .last{
    position: relative;
}
.header .bottom-header .user-controls span{
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #34404b;
    color: #fff;
    bottom: 25px;
    padding: 2px 5px;
    font-size: 10px;
    right: 4px;
}
.navbar-toggle{
    background-color: #ff5912;
}
.navbar-toggle span{
    background-color: #fff;
}
@media (max-width: 991px){
    .header .bottom-header .logo {
         padding-right: 10px;
     }
    .header .bottom-header .header-nav a + a {
        padding-left: 30px;
    }
}
@media (max-width: 767px){
    .user-controls{
        width: 100%;
        margin-top: 30px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
    }
    .header .bottom-header .flex-container{
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .navbar-toggle{
        /*margin-top: 0;*/
        /*margin-right: 0;*/
        margin-bottom: 30px;
    }
}
/*header end*/
.product-item{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    padding: 30px 10px;
    position: relative;
    height: 372px;
    margin-bottom: 20px;
}
.product-item:hover{
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.product-item .item-description{
    padding: 0 37px;
    margin-top: 30px;
}
.product-item .item-title{
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.product-item .item-img{
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    height: 216px;
}
.product-item .item-img img{
    max-height: 100%;
}
.product-item:hover .sizes{
    padding-bottom: 32px;
}
.product-item:hover .item-price{
    display: none;
}
.product-item:hover .item-title{
    color: #ff5912;
}
.product-item:hover .item-img{
    height: 90px;
}
.product-item .more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    -webkit-transition: all .3s linear .1s;
    -o-transition: all .3s linear .1s;
    transition: all .3s linear .1s;
    z-index: -1;
}
.product-item:hover .more-info-on-hover{
    opacity: 1;
    z-index: 99;
}
.product-item .more-info-on-hover .item-controls{
    padding-top: 30px;
}
.product-item .colors{
    border-bottom: 1px solid #f2f4f7;
    padding-bottom: 30px;
}
.product-item .icon-add-to-cart-ic{
    margin: 0 28px;
}

.product-item li{
    display: inline-block;
}
.product-item .colors li{
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.product-description .subtitle{
    font-size: 18px;
    font-family: Harmonia_bold;
    margin-bottom: 38px;
}
.product-description .text{
    font-size: 16px;
    font-family: Harmonia_regular;
}
.product-description .text-section{
    padding-bottom: 80px;
}
.item-count span{
    font-size: 18px;
    font-family: Harmonia_semibold;
    padding-right: 10px;
}
.subscribe-form{
    padding: 35px 45px;
}
.subscribe-form .small-title{
    text-transform: uppercase;
    font-size: 18px;
    padding-right: 25px;
    font-family: Harmonia_bold;
}
.subscribe-form .text{
    font-size: 14px;
    font-family: Harmonia_italic;
}
.subscribe-form .icon.icon-mail-ic{
    margin-right: 11px;
}
.subtitle-input{
    font-family: Harmonia_italic;
    font-size: 14px;
    margin-right: 160px;
}
@media (max-width: 767px){
    .subscribe-form{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .subscribe-form .subscribe-description{
        margin-bottom: 30px;
    }
}
@media (max-width: 599px){
    .subscribe-form .send{
        display: block;
    }
    .subscribe-form .send .mail{
        margin-bottom: 20px;
    }
    .subscribe-form .send .btn{
        width: 100%;
    }
    .subscribe-form .btn{
        width: 100%;
    }
    .subscribe-form .flex-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .subscribe-form .subscribe-block{
        padding-bottom: 20px;
    }
}
    .aside-sectin{
    padding: 40px;
}
.aside-sectin + .aside-sectin{
    margin-top: 30px;
}
.icon-share-ic:hover{
    background-position: -44px -59px;
}
.icon-add-to-cart-ic:hover{
    background-position: 0px -38px;
}
.icon-like-ic:hover{
    background-position: -38px -80px;
}
.icon-search-ic:hover{
    background-position: -81px 0px;
}
.icon-user-ic:hover{
    background-position: 0px -59px;
}
.icon-cart-ic:hover{
    background-position: -20px -59px;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
input[type="checkbox"] + label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
input[type="checkbox"]:checked + label{
    color: #ff5912;;
}
input[type="checkbox"]:checked + label::before{
    border-color: #ff5912;
}
.checkbox-group + .checkbox-group{
    margin-top: 37px;
}
.aside-title{
    font-size: 18px;
    font-family: Harmonia_black;
    padding-bottom: 40px;
}
.aside-categories{
    font-size: 16px;
    font-family: Harmonia_bold;
}
.aside-categories li + li{
    padding-top: 42px;
}
     /*DEFAULT COMPONENT END*/
.sale-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
#sale-carousel{
    padding-left: 8%;
}
.sale-carousel .carousel-indicators{
    width: auto;
    bottom: auto;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0;
}
.sale-carousel .carousel-indicators li{
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    display: block;
    margin: 0;
    border: none;
    width: 10px;
    height: 16px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.sale-carousel .carousel-indicators li + li{
    margin-top: 10px;
}
.sale-carousel .carousel-indicators li.active{
    background-color: #ff5912;
    height: 36px;
}
.sale-carousel .carousel-inner .subtitle{
    color: #3c4751;
    font-size: 18px;
    font-family: 'HarmoniaSansProCyr-Regular';
    line-height: 1.5;

}
.sale-carousel .carousel-inner .subtitle-text{
    color: #495662;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 60px;
}
.sale-carousel .carousel-inner .price{
    font-size: 18px;
    font-family: 'HarmoniaSansProCyr-Regular';
    margin-right: 30px;
}
.sale-carousel .carousel-inner .order-now{
    font-size: 18px;
}
.sale-carousel .carousel-inner .icon-cart-hover-ic{
    margin-right: 16px;
}
.kit{
    padding: 20px 60px;
    border: 1px solid #eaedef;
}
.sales-block{
    position: relative;
}
.sales-block .light-orange-bg,
.sales-block .orange-bg{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block .light-orange-bg{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.sales-block .orange-bg{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 0;
}
.sales-block  span{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    color: #fff;
    display: block;
    margin: 8px 0;
}
.sales-block .sale{
    font-family: Harmonia_italic;
}
.sales-block .percent{
    font-size: 18px;
    font-weight: 900;
}
.kit .right-title{
    font-size: 22px;
    display: block;
}
.kit .price{
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    padding-left: 15px;
}
.kit .price-block .dollar{
    font-size: 22px;
}
.kit .price-block{
    font-family: Harmonia_black;
}
.adv{
    height: 8.5em;
}
.adv .flex-container{
    display: block;
}
.adv .area{
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 17px;
}
.adv .size{
    letter-spacing: 0.6em;
}
.adv .part2{
    padding-left: 4px;
}
@media (max-width: 991px){
    .kit{
        margin-bottom: 20px;
    }
    .best-items{
        margin-bottom: 20px;
    }
    .subtitle-input {
        margin-right: 58px;
    }
    .subscribe-description .small-title{
        padding-bottom: 20px;
        display: block;
    }
}
@media (max-width: 599px){
    .kit .full span{
        padding-left: 10px;
    }
    .kit{
        padding: 20px 18px;
    }
}
@media (max-width: 479px) {
    .kit .flex-container{
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .kit .sales-block {
        margin-bottom: 20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .kit .price-block{
        left: 50%;
        position: relative;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .kit .full{
        padding-bottom: 20px;
    }

}
.category-wrap{
    padding-top: 120px;
    padding-bottom: 60px;
}
.category-wrap .load-more{
    margin: 0;
}
.mobile-sidebar-btn{
    display: none;
    font-size: 30px;
    color: #ff5912;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .mobile-sidebar-btn{
        display: block;
    }
    .mobile-sidebar-wrap{
        position: absolute;
        -webkit-transform: translateX(-150%);
            -ms-transform: translateX(-150%);
                transform: translateX(-150%);
        z-index: 99;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        left: 0;
        right: 0;
    }
    .mobile-sidebar-btn .fa{
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, .4);
        -webkit-transition: all .5s linear;
        -o-transition: all .5s linear;
        transition: all .5s linear;
    }
    main.show .mobile-sidebar-wrap{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    main.show .overlay{
        opacity: 1;
        z-index: 98;
    }
    main.show .mobile-sidebar-btn .fa{
        -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
                transform: rotate(-180deg);
    }
}
.ui-widget.ui-widget-content{
    border: none;
    background-color: #edf0f2;
    -webkit-border-radius: 0;
            border-radius: 0;
    height: 3px;
}
.add-range-value{
    margin-top: 30px;
}
.ui-slider .ui-slider-range{
    background-color: #34404b;
}
.min-value,
.max-value{
    position: absolute;
    bottom: 200%;
    color: #34404b
}
.ui-widget-content .ui-state-default.ui-slider-handle{
    width: 11px;
    height: 11px;
    background-color: #34404b;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: none;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    outline: none;
}
.new-arrivals .text-14{
    margin-bottom: 82px;
}
.load-more {
    height: 60px;
    margin: 80px 0 120px;
}
.load-more .circle{
    border: 2px;
    width: 8px;
    height: 8px;
    background-color: #ff5912;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: inline-block;
    margin-top: 26px;
}
.best-sales span{
    padding-right: 25px;
}
.best-sales .text-14{
    margin-bottom: 80px;
}

.best-items .fa.fa-star{
    color: #ff5912;
}
.best-items .item-info li{
    display: inline-block;
}
.best-item-img{
    padding: 35px 23px ;
}
.best-item-description{
    padding-left: 25px;
    margin:  47px 30px 50px 0;
    font-size: 16px;
    font-family: Harmonia_bold;
    border-left: 1px solid #f5f5f6;
}
.best-item-description .item-title{
    font-family: Harmonia_bold;
    font-size: 18px;
    padding-bottom: 35px;
}
.best-item-description .item-info .price{
    padding: 0;
}
.best-items:hover{
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.best-item-description:hover .item-info{
    display: none;
}
.best-item-description .best-item-description-hover{
    opacity: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.best-item-description:hover .best-item-description-hover{
    opacity: 1;
    position: relative;
}
/* Product slider start*/
.product-slider{
    width: 330px;
}
/* Product slider end*/
/*Product description start*/
.size-radio input[type="radio"]{
    display: none;
}
.size-radio label{
    font-size: 14px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio input[type="radio"]:checked + label{
    color: #ff5912;
    font-size: 18px;
}
.choose-size .choose-size-text{
    font-size: 18px;
    padding-right: 23px;
}
.radio-list-btn .size-radio {
    padding-left: 5px;
}
.radio-list-btn .size-radio + .size-radio:before{
    content: "-";
    padding-right: 5px;
}
footer{
    font-family: Harmonia_regular;
    margin-top: 60px;
    padding: 88px 0 83px;
    font-size: 14px;
}

footer  .footer-nav .menu li + li{
    margin-top: 22px;
}
.payment-methods-icon li + li{
    padding-left: 15px;
}
.footer-nav ul + ul{
    margin-left: 90px;
}
.payment-methods .payment-methods-icon {
    margin-top: 20px;
}
.footer-nav {
    margin-left: 20px;
    margin-right: 20px;

}
.footer-nav ul{
    list-style: unset;
}
.footer-nav .payment-methods ul{
    list-style:none;
}
.footer-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
}
.footer-logo img{
    margin-bottom: 22px;
}
@media (max-width: 767px){
    footer .flex-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer-nav ul + ul {
        margin-left: 0;
        margin-top: 20px;
    }
    .footer-logo{
        margin-bottom: 20px;
    }
    .payment-methods{
        margin-top: 20px;
    }
    .payment-methods .payment-methods-icon{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}
.order-form{
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}
.choose-size{
    padding: 42px 0;
}
.order-now{
    margin-top: 40px;
}
.order-now .price{
    font-size: 20px;
    font-family: Harmonia_black;
}
.order-now .btn{
    width: 135px;
    height: 50px;
    -webkit-border-radius: 25px;
            border-radius: 25px;
}
.order-now .item-controls{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.order-now .item-controls li +li{
    padding-left: 14px;
}
.product-option-form .choose-size span {
    font-family: Harmonia_semibold;
    font-size: 18px;
}
/*Product description end*/